<!-- _tweet.html.erb -->
<div id="<%= dom_id(tweet) %>">
  <p>
    <strong>Descripción:</strong>
    <%= tweet.description %>
  </p>

  <p>
    <strong>Nombre de Usuario:</strong>
    <%= tweet.userName %>
  </p>
</div>

