<!-- HTML -->
<div class="modal fade" id="tweetModal" tabindex="-1" aria-labelledby="tweetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tweetModalLabel">Editing tweet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "form", tweet: @tweet %>
        <br>
        <div>
          <%= link_to "Show this tweet", @tweet %> |
          <%= link_to "Back to tweets", tweets_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // JavaScript code to open the modal on page load
  document.addEventListener('DOMContentLoaded', function () {
    $('#tweetModal').modal('show');
  });
</script>
